<!-- footer -->
<div class="container-fluid py-3 bg-dark text-light">
    <div class="container d-flex justify-content-between">
        <label>&copy;2023 Kafe Saya</label>
        <label>created by me</label>
    </div>
</div>