<!-- footer -->
<div class="container-fluid py-3 bg-footer text-dark">
    <div class="container d-flex justify-content-between">
        <label>&copy;2023 FlavourSpark</label>
        <label>created by me</label>
    </div>
</div>