<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-color fixed-top">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand me-auto" href="#">Kafe Saya</a>
            <ul class="navbar-nav" id="menu">
                <li class="nav-item me-4">
                    <a id="home_route" class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" href="/allproducts">Produk</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" href="/allpromo">Promo</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" href="/mycart"><i class="bi bi-cart"></i> Keranjang</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" href=/profile><i class="bi bi-person-circle"></i> Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div class="hero_area">
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                <a class="navbar-brand mr-auto" href="index.html">
                    <span style="color: #5b5cac">
                        FlavourSpark
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/allproducts">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/allpromo">Promo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/mycart">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Up</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>