<div class="container-fluid py-5">
    <div class="container">
        <h2 class="text-center my-5">Keranjang Belanja</h2>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Pesanan</th>
                    <th>Harga</th>
                    <th>Jumlah</th>
                    <th>Total</th>
                </tr>
                <tr style="vertical-align: middle;">
                    <td>
                        <a href="image/product/french-fries.jpg" data-lightbox="French Fries" data-title="French Fries">
                            <img src="image/product/thumb/french-fries.jpg" class="img-thumbnail d-none d-sm-block" width="150px" alt="">
                            <label class="d-block d-sm-none" for="">French Fries</label>
                        </a>
                    </td>
                    <td>French Fries</td>
                    <td>Rp 20.000</td>
                    <td>1</td>
                    <td>Rp 20.000</td>
                </tr>
                <tr style="vertical-align: middle;">
                    <td>
                        <a href="image/product/steak.jpg" data-lightbox="Steak" data-title="Steak">
                            <img src="image/product/thumb/steak.jpg" class="img-thumbnail d-none d-sm-block" width="150px" alt="">
                            <label class="d-block d-sm-none" for="">Steak</label>
                        </a>
                    </td>
                    <td>Steak</td>
                    <td>Rp 85.000</td>
                    <td>2</td>
                    <td>Rp 170.000</td>
                </tr>
                <tr style="vertical-align: middle;">
                    <td>
                        <a href="image/product/strawberry-drink.jpg" data-lightbox="Strawberry Drink" data-title="Strawberry Drink">
                            <img src="image/product/thumb/strawberry-drink.jpg" class="img-thumbnail d-none d-sm-block" width="150px" alt="">
                            <label class="d-block d-sm-none" for="">Strawberry Drink</label>
                        </a>
                    </td>
                    <td>Strawberry Drink</td>
                    <td>Rp 25.000</td>
                    <td>2</td>
                    <td>Rp 50.000</td>
                </tr>
                    <th colspan="4">Total</th>
                    <th>Rp 240.000</th>
                <tr></tr>
            </table>
        </div>

        <button class="btn btn-warning text-light">Checkout</button>
    </div>
</div>

<!-- subscribe -->
<div class="container-fluid py-5 content-subscribe">
    <div class="container">
        <h5 class="text-center text-light mb-4">Temui Kami</h5>
        <div class="row justify-content-center">
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-facebook fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-instagram fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-twitter fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-youtube fs-4 text-white"></i>
            </div>
        </div>

        <h5 class="text-center text-light mt-5 mb-0">Subscribe</h5>
        <p class="text-center text-light">Untuk informasi tentang promo</p>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/subscribe" method="post">
                <div class="input-group mb-3">
                    <input name="subscribtion" type="text" class="form-control" placeholder="ketikkan email" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input name="username" value="<%= user.username %>" type="text" class="form-control" autocomplete="off" hidden>
                    <button class="btn btn-warning text-light" type="submit" id="button-addon2">Button</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js"></script>
<!-- lightbox -->
<script src="dist/js/lightbox-plus-jquery.min.js"></script>
