<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-5 mt-5">
                <div class="card border">
                    <div class="card-body">
                        <!-- next before show avatar make every image to acertain size first -->
                        <img src="/image/avatar/taylor.jpg" class="rounded-circle mx-auto d-block" style="width: 30%;"/>
                    </div>
                </div>
            </div>
            <div class="col-5 mt-5">
                <div class="card border">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="col-2 mt-5">
                <div class="card border">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <img src="/image/product/brownies.jpg" alt=""> -->