<!-- banner -->
<div class="container-fluid banner2 d-flex align-items-center">
    <div class="container">
        <h1 class="text-light text-center  mb-3">Special Deal</h1>
    </div>
</div>

<!-- promo -->
<div class="container-fluid py-5">
    <div class="container">
        <!-- kategori promo -->
        <div class="row justify-content-center mb-5">
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <button id="semuaPromoBtn" onclick="showAll()" class="btn rounded-pill custom_red-btn_outline w-100 fs-5 active-custom">All Promo</button>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <button id="diskonPromoBtn" onclick="showDiskon()" class="btn rounded-pill custom_red-btn_outline w-100 fs-5">Promo Disc</button>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <button id="bonusPromoBtn" onclick="showBonus()" class="btn rounded-pill custom_red-btn_outline w-100 fs-5">Promo Bonus</button>
            </div>
        </div>
    </div>

    <!-- isi promo -->
    <!-- semua promo -->
    <div id="semuaPromo">
        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/5.jpg" data-lightbox="5" data-title="5">
                        <img src="image/product/thumb/5.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">Buy 1 get 1</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/12.jpg" data-lightbox="12" data-title="12">
                        <img src="image/product/thumb/12.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Free</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/7.jpg" data-lightbox="7" data-title="7">
                        <img src="image/product/thumb/7.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Free</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/1.jpg" data-lightbox="1" data-title="1">
                        <img src="image/product/thumb/1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/2.jpg" data-lightbox="2" data-title="2">
                        <img src="image/product/thumb/2.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/3.jpg" data-lightbox="3" data-title="3">
                        <img src="image/product/thumb/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- promo diskon -->
    <div id="promoDiskon">

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/5.jpg" data-lightbox="5" data-title="5">
                        <img src="image/product/thumb/5.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/12.jpg" data-lightbox="12" data-title="12">
                        <img src="image/product/thumb/12.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/7.jpg" data-lightbox="7" data-title="7">
                        <img src="image/product/thumb/7.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- promo bonus -->
    <div id="promoBonus">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/1.jpg" data-lightbox="1" data-title="1">
                        <img src="image/product/thumb/1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">Buy 1 Get 1</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/2.jpg" data-lightbox="2" data-title="2">
                        <img src="image/product/thumb/2.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Free</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/3.jpg" data-lightbox="3" data-title="3">
                        <img src="image/product/thumb/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-red">This is Free</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- subscribe -->
<div class="container-fluid py-5 content-subscribe">
    <div class="container">
        <h5 class="text-center text-light mb-4">Find Us</h5>
        <div class="row justify-content-center">
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-facebook fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-instagram fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-twitter fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-youtube fs-4 text-white"></i>
            </div>
        </div>

        <h5 class="text-center text-light mt-5 mb-0">Subscribe</h5>
        <p class="text-center text-light">Get information about special deal</p>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="#" method="#">
                <div class="input-group custom-input-group mb-3">
                    <input name="subscribtion" type="text" class="form-control form-control-lg custom-input" placeholder="write your email" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
                    <input name="username" value="" type="text" class="form-control" autocomplete="off" hidden>
                    <button class="btn custom_red-btn mr-3 text-light btn-lg custom-button" type="submit" id="button-addon2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js"></script>
<!-- lightbox -->
<script src="dist/js/lightbox-plus-jquery.min.js"></script>
<script>
    const btnSemuaPromo = $("#semuaPromoBtn");
    const btnDiskonPromo = $("#diskonPromoBtn");
    const btnBonusPromo = $("#bonusPromoBtn");

    const semuaPromoView = $("#semuaPromo");
    const promoDiskonView = $("#promoDiskon");
    const promoBonusView = $("#promoBonus");

    promoDiskonView.hide();
    promoBonusView.hide();

    function showAll(){
        btnSemuaPromo.addClass("active-custom");
        btnBonusPromo.removeClass("active-custom");
        btnDiskonPromo.removeClass('active-custom');

        semuaPromoView.show(1000);
        promoBonusView.hide(1000);
        promoDiskonView.hide(1000);
    };

    function showDiskon(){
        btnSemuaPromo.removeClass("active-custom");
        btnBonusPromo.removeClass("active-custom");
        btnDiskonPromo.addClass('active-custom');

        semuaPromoView.hide(1000);
        promoBonusView.hide(1000);
        promoDiskonView.show(1000);
    };

    function showBonus(){
        btnSemuaPromo.removeClass("active-custom");
        btnBonusPromo.addClass("active-custom");
        btnDiskonPromo.removeClass('active-custom');

        semuaPromoView.hide(1000);
        promoBonusView.show(1000);
        promoDiskonView.hide(1000);
    };
</script>
