<!-- banner -->
<div class="container-fluid banner2 d-flex align-items-center">
    <div class="container">
        <h1 class="text-light text-center  mb-3">Semua Promo Buat Anda</h1>
    </div>
</div>

<!-- promo -->
<div class="container-fluid py-5">
    <div class="container">
        <!-- kategori promo -->
        <div class="row justify-content-center mb-5">
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <button id="semuaPromoBtn" onclick="showAll()" class="btn btn-outline-warning w-100 fs-5 active">Semua Promo</button>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <button id="diskonPromoBtn" onclick="showDiskon()" class="btn btn-outline-warning w-100 fs-5">Promo Diskon</button>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <button id="bonusPromoBtn" onclick="showBonus()" class="btn btn-outline-warning w-100 fs-5">Promo Bonus</button>
            </div>
        </div>
    </div>

    <!-- isi promo -->
    <!-- semua promo -->
    <div id="semuaPromo">
        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/5.jpg" data-lightbox="chocolate mouse" data-title="chocolate mouse">
                        <img src="image/product/thumb/5.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Beli 1 Gratis 1</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/12.jpg" data-lightbox="Capucinno" data-title="Capucinno">
                        <img src="image/product/thumb/12.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Gratis Capucinno</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/7.jpg" data-lightbox="brownies" data-title="brownies">
                        <img src="image/product/thumb/7.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Gratis Brownies</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/1.jpg" data-lightbox="skewer" data-title="skewer">
                        <img src="image/product/thumb/1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Skewer Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/2.jpg" data-lightbox="cereal" data-title="cereal">
                        <img src="image/product/thumb/2.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Cereal Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/3.jpg" data-lightbox="steak" data-title="steak">
                        <img src="image/product/thumb/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Steak Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- promo diskon -->
    <div id="promoDiskon">

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/5.jpg" data-lightbox="skewer" data-title="skewer">
                        <img src="image/product/thumb/5.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Skewer Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/12.jpg" data-lightbox="cereal" data-title="cereal">
                        <img src="image/product/thumb/12.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Cereal Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/7.jpg" data-lightbox="steak" data-title="steak">
                        <img src="image/product/thumb/7.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Steak Disc 20%</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- promo bonus -->
    <div id="promoBonus">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/1.jpg" data-lightbox="chocolate mouse" data-title="chocolate mouse">
                        <img src="image/product/thumb/1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Beli 1 Gratis 1</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/2.jpg" data-lightbox="Capucinno" data-title="Capucinno">
                        <img src="image/product/thumb/2.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Gratis Capucinno</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 hovered-card mb-3">
                <div class="card">
                    <a href="image/product/thumb/3.jpg" data-lightbox="brownies" data-title="brownies">
                        <img src="image/product/thumb/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Gratis Brownies</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate,
                            ab.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- subscribe -->
<div class="container-fluid py-5 content-subscribe">
    <div class="container">
        <h5 class="text-center text-light mb-4">Temui Kami</h5>
        <div class="row justify-content-center">
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-facebook fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-instagram fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-twitter fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-youtube fs-4 text-white"></i>
            </div>
        </div>

        <h5 class="text-center text-light mt-5 mb-0">Subscribe</h5>
        <p class="text-center text-light">Untuk informasi tentang promo</p>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/subscribe" method="post">
                <div class="input-group custom-input-group mb-3">
                    <input name="subscribtion" type="text" class="form-control form-control-lg custom-input" placeholder="ketikkan email" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
                    <input name="username" value="<%= user.username %>" type="text" class="form-control" autocomplete="off" hidden>
                    <button class="btn custom_red-btn mr-3 text-light btn-lg custom-button" type="submit" id="button-addon2">Button</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js"></script>
<!-- lightbox -->
<script src="dist/js/lightbox-plus-jquery.min.js"></script>
<script>
    const btnSemuaPromo = $("#semuaPromoBtn");
    const btnDiskonPromo = $("#diskonPromoBtn");
    const btnBonusPromo = $("#bonusPromoBtn");

    const semuaPromoView = $("#semuaPromo");
    const promoDiskonView = $("#promoDiskon");
    const promoBonusView = $("#promoBonus");

    promoDiskonView.hide();
    promoBonusView.hide();

    function showAll(){
        btnSemuaPromo.addClass("active");
        btnBonusPromo.removeClass("active");
        btnDiskonPromo.removeClass('active');

        semuaPromoView.show(1000);
        promoBonusView.hide(1000);
        promoDiskonView.hide(1000);
    };

    function showDiskon(){
        btnSemuaPromo.removeClass("active");
        btnBonusPromo.removeClass("active");
        btnDiskonPromo.addClass('active');

        semuaPromoView.hide(1000);
        promoBonusView.hide(1000);
        promoDiskonView.show(1000);
    };

    function showBonus(){
        btnSemuaPromo.removeClass("active");
        btnBonusPromo.addClass("active");
        btnDiskonPromo.removeClass('active');

        semuaPromoView.hide(1000);
        promoBonusView.show(1000);
        promoDiskonView.hide(1000);
    };
</script>
