<div class="d-lg-flex half">
    <div class="bg order-md-2" style="background-image: url('/image/banner.jpg'); "></div>
    <div class="contents order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h2 class="mb-5">Wellcome Back !</h2>
                    <form method="POST" action="/home">
                        <div class="form-group mb-3">
                            <label class="mb-2" for="email">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" autocomplete="off">
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2" for="password">Password:</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" autocomplete="off">
                        </div>
                        <button type="submit" class="btn custom-button mt-3" style="width: 100%;">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>