body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.main-color
{
    background-color: #592693 !important;
}

.banner
{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner2
{
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.hovered-card
{
    transition: .3s;
}

.hovered-card:hover
{
    transform: scale(1.1);
}

.icon-service{
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #fff;
    /* font-size: 40px; */
}

.content-subscribe{
    background-color: rgba(0, 0, 0, 0.7);
}

/* sign up */
.half, .half .container > .row {
    height: 100vh;
    min-height: 500px; 
}

@media (max-width: 991.98px) {
    .half .bg {
        height: 200px; } }

.half .contents {
    background: #dee8ff; }

.half .contents, .half .bg {
    width: 50%; }
    @media (max-width: 1199.98px) {
        .half .contents, .half .bg {
            width: 100%; } }
            /* here */

.half .bg {
    background-size: cover;
    background-position: center;
}

/* button */
.custom-button {
    background-color: #251c55; /* Your custom background color */
    color: #fff; /* Your custom text color */
    /* Add any additional styles as needed */
}

/* halaman profile */
.list-profile{
    text-decoration: none;
    color: black;
}

.list-profile .list-group-item:hover {
    background-color: #ffc107;
}

.larger-icon{
    font-size: 2em;
}

/* halaman promo */
.list-product{
    text-decoration: none;
    color: black;
}

.list-product .list-group-item:hover {
    background-color: #ffc107;
}

/* clean link */
.clean-link{
    text-decoration: none;
}